* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* banar part */
header>section {
    height: 650px;
    width: 1500px;
    background-image: url(../assets/Hero-bg.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero_section {
    height: 580px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_section .banar_image img {
    height: 250px;
    width: 300px;
}

.hero_section .hero_hedding {
    text-align: center;
    text-transform: capitalize;
}

.hero_section .hero_hedding h1 {
    margin: 10px;
    font-size: 64px;
}

.hero_section .hero_discription {
    margin: 10px 0;
    text-align: center;
    padding: 10px;
}

.hero_section .hero_discription p {
    font-size: 16px;
}

header button {
    color: white;
    font-size: 20px;
    background-color: black;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}

/* main section */

section .development {
    width: 1140px;
    min-height: 200px;
    padding: 80px 100px;
    background-color: rgb(215, 218, 218);
    border-radius: 15px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.development>h1 {
    font-size: 32px;
    margin: 10px;
}

.development>p {
    margin-bottom: 30px;
    text-align: center;
}

.development .containar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.development .development_container {
    display: flex;
    padding: 48px;
}

.container_discription h3 {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    text-transform: capitalize;
}

.container_discription p {
    width: 390px;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
}

.container_discription .btn {
    background-color: white;
    color: black;
    text-decoration: underline;
    border: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.containar1,
.containar3 {
    background-color: #eaeaec;
    border-radius: 15px;
}

/* inspiration section */

.insparation {
    width: 1140px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 30px auto;

}

.insparation>h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 10px;
    padding: 10px;
    font-size: 32px;

}

.insparation>p {
    padding: 0 144px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.insparation .insparation-ifram {
    padding: 20px;
    border-radius: 15px;
    background-color: #eaeaec;
}

.insparation .insparation-ifram iframe {
    border-radius: 15px;
}

/* target section */
.my_target {
    width: 1140px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 30px auto;
}

.my_target>h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 10px;
    padding: 10px;
    font-size: 32px;
}

.my_target>p {
    padding: 0 144px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.my_target .target_containers {
    display: flex;
    gap: 10px;
}

.my_target .target_containers .container_items {
    width: 364px;
    padding: 40px;
    border-radius: 10px;
}

.my_target .target_containers .container_items h1 {
    font-size: 24px;
    text-transform: capitalize;
    margin: 5px 0;
}

.my_target .target_containers .container_items p {
    font-size: 16px;
    margin-bottom: 5px;
}

.my_target .target_containers .container_items a {
    font-size: 16px;
    font-weight: 800;
}

.my_target .target_containers .item1 {
    background-color: #d5d5dc;
}

.my_target .target_containers .item2 {
    background-color: #b0b0e8;
}

.my_target .target_containers .item3 {
    background-color: #a5a5b3;
}

/* support section */

.support {
    width: 1140px;
    height: 400px;
    background-image: url(../assets/handshake.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px;
    border-radius: 15px;
}

.support h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

.support p {
    width: 606px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.support .find_support {
    width: 675px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.support .find_support input {
    height: 57px;
    width: 548px;
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}

.support .find_support button {
    height: 57px;
    width: 120px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

/* footer section */

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaec;
    width: 1500px;
    height: 80px;
    padding: 30px 50px;
}

.foot .foot-logo {
    width: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.foot p {
    font-size: 20px;
    padding: 0 20px;
}