* {
    margin: 0;
    padding: 0;
}

/* banar part */
header>section {
    height: 650px;
    width: 1450px;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero_section {
    height: 580px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_section .banar_image img {
    height: 250px;
    width: 300px;
    /* background-color: aqua; */
}

.hero_section .hero_hedding {
    text-align: center;
}

.hero_section .hero_hedding h1 {
    margin: 10px;
    font-size: 64px;
}

.hero_section .hero_discription {
    margin: 10px 0;
    text-align: center;
    padding: 10px;
}

.hero_section .hero_discription p {
    font-size: 16px;
}

button {
    color: white;
    font-size: 20px;
    background-color: black;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* main section */

section .development {
    width: 1140px;
    min-height: 200px;
    padding: 80 px 100px;
    background-color: #FFFFFF;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.development>h1 {
    font-size: 32px;
    margin: 10px;
}

.development .containar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.development .development_container {
    display: flex;
    padding: 48px;
}

.container_discription h3 {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    width: 390px;
}

.container_discription p {
    width: 390px;
}

/* footer section */

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaec;
    width: 1450px;
    height: 80px;
    padding: 30px 50px;
}

.foot .foot-logo {
    width: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.foot p {
    font-size: 20px;
    padding: 0 20px;
}