* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* banar part */
header>section {
    height: 650px;
    width: 1500px;
    background-image: url(../assets/Hero-bg.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero_section {
    height: 580px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_section .banar_image img {
    height: 250px;
    width: 300px;
}

.hero_section .hero_hedding {
    text-align: center;
    text-transform: capitalize;
}

.hero_section .hero_hedding h1 {
    margin: 10px;
    font-size: 64px;
}

.hero_section .hero_discription {
    margin: 10px 0;
    text-align: center;
    padding: 10px;
}

.hero_section .hero_discription p {
    font-size: 16px;
}

header button {
    color: white;
    font-size: 20px;
    background-color: black;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}

/* main section */

section .development {
    width: 1140px;
    min-height: 200px;
    padding: 80px 100px;
    background-color:rgb(215, 218, 218);
    border-radius: 15px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.development>h1 {
    font-size: 32px;
    margin: 10px;
}
.development>p{
    margin-bottom:30px;
    text-align: center;
}

.development .containar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.development .development_container {
    display: flex;
    padding: 48px;
}

.container_discription h3 {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    text-transform: capitalize;
}

.container_discription p {
    width: 390px;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
}
.container_discription .btn{
    background-color: white;
    color: black;
    text-decoration: underline;
    border: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.containar1,
.containar3 {
    background-color: #eaeaec;
    border-radius: 15px;
}

/* footer section */

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaec;
    width: 1500px;
    height: 80px;
    padding: 30px 50px;
}

.foot .foot-logo {
    width: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.foot p {
    font-size: 20px;
    padding: 0 20px;
}